@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Instrument+Serif:ital,wght@0,400;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Instrument Serif", serif;
  background-color: #dbdbd5;
  margin: 0 auto;
  overflow-x: hidden;
}

.section-1-container,
.section-2-container,
.section-3-container,
.section-4-container,
.section-5-container,
.section-6-container,
.section-8-container,
.section-9-container,
.footer-container {
  max-width: 1200px;
  width: 100%;
  padding: 0 20px;
}

h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  font-family: "Bebas Neue", sans-serif;
}

/* Section 1 */
.section-1 {
  display: flex;
  justify-content: center;
  padding: 0 0 60px;
}

.section-1-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 58px;
  position: relative;
}

.photo-card-1 {
  width: 550px;
  max-height: 750px;
  background-color: #ffffff;
  border-radius: 0 0 350px 350px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  overflow: hidden;
}

.photo-card-1 img {
  width: 100%;
  scale: 1.2;
  height: auto;
  object-fit: cover;
}

header,
.section-1-main,
.section-1-collect {
  position: relative;
  z-index: 10;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 84px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 6px;
  text-decoration: none;
}

.dominic {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-size: 28px;
  color: #1f1f1d;
}

.logo-rect {
  width: 24px;
  height: 24px;
  background-color: #1f1f1d;
  border-radius: 14px;
}

.menu {
  display: flex;
  justify-content: flex-end;
}

.menu-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1f1f1d;
  border-radius: 48px;
  padding: 10px;
  width: 102px;
  height: 48px;
  cursor: pointer;
}

.menu-btn span {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  color: #ffffff;
}

.menu-btn img {
  width: 20px;
  height: 15px;
}

.section-1-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 160px;
}

.section1-title {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 350px;
}

.intro {
  font-size: 30px;
  line-height: 1.47em;
  color: #1f1f1d;
}

.section1-title h1 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  line-height: 1em;
  color: #1f1f1d;
  font-weight: 400;
}

.section1-title .desc {
  font-size: 30px;
  line-height: 1.5em;
  color: #1f1f1d;
}

.btn-primary {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1f1f1d;
  border-radius: 72px;
  padding: 10px;
  width: 174px;
  height: 53px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  cursor: pointer;
  text-decoration: none;
}

.btn-arrow-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  border-radius: 50%;
}

.project-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 34px;
  width: 110px;
}

.stat {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-end;
}

.stat h4 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 48px;
  line-height: 1em;
  text-align: right;
  color: #1f1f1d;
  font-weight: 400;
}

.stat p {
  font-size: 17px;
  line-height: 1em;
  color: #8f8f8c;
}

.section-1-collect {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 12px;
  margin-top: 32px;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 20px 0 0;
  width: 25%;
  border-right: 1px solid rgba(143, 143, 140, 0.5);
}

.service:last-child {
  border-right: none;
}

.service h6 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  line-height: 1em;
  color: #1f1f1d;
  font-weight: 400;
}

.service p {
  font-size: 17px;
  line-height: 1em;
  color: #8f8f8c;
}

/* Section 2 */
.section-2 {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.section-2-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 29px;
}

.title-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.title-8 h5 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 29px;
  color: #1f1f1d;
}

.title-8 p {
  font-size: 19px;
  color: #8f8f8c;
  margin-left: 240px;
}

.cell-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cell-box-container {
  display: flex;
  flex: 1;
  width: 100%;
  margin-bottom: 10px;
  gap: -1px;
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px 0;
  width: 25%;
  border: 2px solid #c8c8c2;
  border-radius: 0;
}

.cell span {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 17px;
  font-weight: 700;
  color: #8f8f8c;
}

/* Section 3 */
.section-3 {
  display: flex;
  justify-content: center;
  padding: 115px 0;
}

.section-3-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 43px;
}

.section-3-container h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  line-height: 0.81em;
  color: #1f1f1d;
  width: 50%;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 29px;
  width: 50%;
}

.about-content p {
  font-size: 22px;
  line-height: 1.67em;
  color: #8f8f8c;
}

.about-content p:first-child {
  color: #1f1f1d;
}

/* Section 4 */
.section-4 {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.section-4-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 58px;
}

.title-3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title-3 h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #1f1f1d;
}

.title-3 p {
  font-size: 19px;
  color: #8f8f8c;
}

.portfolio-grid {
  display: flex;
  flex-direction: column;
  gap: 48px;
  width: 100%;
}

.portfolio-item {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.photo-card-2 {
  width: 100%;
  height: 454px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.photo-card-2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.portfolio-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.info-text {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-between;
}

.portfolio-info h5 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 29px;
  color: #1f1f1d;
}

.portfolio-info p {
  font-size: 19px;
  color: #8f8f8c;
}

.portfolio-info span {
  font-size: 19px;
  color: #8f8f8c;
}

.btn-tag {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 96px;
  height: 29px;
  background-color: #1f1f1d;
  border-radius: 34px;
  border: none;
  color: #ffffff;
  font-family: "Instrument Serif", serif;
  font-size: 17px;
  text-decoration: none;
}

/* Section 5 */
.section-5 {
  display: flex;
  justify-content: center;
  padding: 115px 0;
}

.section-5-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 58px;
}

.section-5-box1 {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 50%;
}

.title-4 h2 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 65px;
  color: #1f1f1d;
}

.title-4 p {
  font-size: 19px;
  color: #8f8f8c;
}

.section-5-box2 {
  width: 50%;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(143, 143, 140, 0.5);
  gap: 1px;
  padding: 0;
  border: none;
}

.skill {
  display: flex;
  flex-direction: column;
  background-color: #dbdbd5;
  gap: 10px;
  padding: 30px;
}

.skill h3 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 53px;
  color: #1f1f1d;
}

.skill p {
  font-size: 17px;
  color: #8f8f8c;
}

/* Section 6 */
.section-6 {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.section-6-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 58px;
}

.section-6-word {
  display: flex;
  flex-direction: column;
  gap: 43px;
  width: 50%;
}

.process-box {
  display: flex;
  flex-direction: column;
  gap: 29px;
}

.process-item {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(143, 143, 140, 0.5);
}

.process-item h5 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 29px;
  color: #1f1f1d;
}

.process-item p {
  font-size: 17px;
  color: #8f8f8c;
}

.photo-card-3 {
  width: 50%;
  height: 815px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}

.photo-card-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Section 7 */
.section-7 {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 115px 0;
  overflow: hidden;
}

.marquee-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

.marquee-container {
  width: 100%;
  overflow: hidden;
  display: flex;
}

.photo-grid {
  display: flex;
  gap: 10px;
  flex-shrink: 0;
}

.photo-card-4 {
  width: 270px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 12px;
  flex-shrink: 0;
  overflow: hidden;
}

.photo-card-4 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* 向左動畫 */
.move-left {
  animation: marquee-left 40s linear infinite;
}

/* 向右動畫 */
.move-right {
  animation: marquee-right 40s linear infinite;
}

@keyframes marquee-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-50% - 5px));
  }
}

@keyframes marquee-right {
  0% {
    transform: translateX(calc(-50% - 5px));
  }
  100% {
    transform: translateX(0);
  }
}

.photo-grid:hover {
  animation-play-state: paused;
}

/* Section 8 */
.section-8 {
  display: flex;
  justify-content: center;
  padding: 60px 0;
}

.section-8-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 43px;
}

.pricing-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 24px;
}

.price-card {
  display: flex;
  flex-direction: column;
  gap: 19px;
  padding: 30px;
  border: 2px solid #c8c8c2;
  border-radius: 12px;
  flex: 1;
}

.price-card .btn-secondary {
  margin-top: auto;
}

.price-card h6 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 22px;
  color: #1f1f1d;
}

.price-card p {
  font-size: 17px;
  color: #8f8f8c;
}

.price {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 67px;
  color: #1f1f1d;
}

.price span {
  font-size: 19px;
  color: #8f8f8c;
}

.price-card ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.price-card li {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 17px;
  color: #1f1f1d;
}

.price-card li img {
  width: 24px;
  height: 24px;
}

.btn-secondary {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #1f1f1d;
  border-radius: 72px;
  padding: 6px 10px;
  width: 100%;
  height: 53px;
  border: none;
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 24px;
  cursor: pointer;
}

/* Section 9 */
.section-9 {
  display: flex;
  justify-content: center;
  padding: 115px 0;
}

.section-9-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 58px;
}

.section-9-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 240px;
}

.faq-list {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.faq-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 19px 29px 19px 0;
  border-bottom: 1px solid rgba(143, 143, 140, 0.5);
}

.faq-question {
  display: flex;
  align-items: center;
  gap: 10px;
}

.faq-question svg {
  cursor: pointer;
}

.faq-question span {
  font-size: 17px;
  color: #1f1f1d;
}

/* Footer */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 58px 180px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 19px;
}

.footer-left {
  display: flex;
  flex-direction: column;
  gap: 19px;
  width: 50%;
}

.footer-left h5 {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 29px;
  color: #1f1f1f;
}

.footer-left p {
  font-size: 17px;
  color: #000000;
  line-height: 1.67em;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  width: 50%;
  gap: 10px;
  padding: 0 29px;
}

.footer-menu,
.footer-navigation,
.footer-social {
  display: flex;
  flex-direction: column;
  gap: 19px;
  text-decoration: none;
}

.footer-menu a,
.footer-navigation a,
.footer-social a {
  text-decoration: none;
  color: #000000;
}

.footer-menu p:first-child,
.footer-navigation p:first-child,
.footer-social p:first-child {
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 17px;
  color: #000000;
}

.footer-menu p,
.footer-navigation p {
  font-size: 17px;
  color: #000000;
}

.social-link {
  display: flex;
  align-items: center;
  gap: 13px;
}

.social-link span {
  font-size: 17px;
  color: #1f1f1d;
}

.footer-bg {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 300px;
  margin-top: 38px;
}

.bg-text {
  font-family: "Instrument Serif", serif;
  font-size: 300px;
  color: #c8c8c2;
  line-height: 1em;
  letter-spacing: 2px;
}

.bg-subtitle {
  position: absolute;
  left: 30%;
  top: 15%;
  text-transform: uppercase;
  font-family: "Bebas Neue", sans-serif;
  font-size: 38px;
  color: #c8c8c2;
  line-height: 0.8em;
}

@media (max-width: 1440px) {
  body {
    width: 100%;
  }
}
